:root {
    background-color: rgb(130, 188, 206);
    color: aliceblue;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.calculadora {
    background-color: gray;
    border: solid 2px rgb(66, 56, 56);
    border-radius: 10px;
    margin: auto;
    width: 12cm;
    height: 15cm;
}

.pantalla {
    background-color: #111111;
    border-radius: 10px;
    width: 90%;
    height: 25%;
    margin: auto;
    margin-top: 20px;
}

.teclado {
    background-color: antiquewhite;
    border-radius: 12px;
    width: 90%;
    height: 68%;
    margin: auto;
    margin-top: 10px;
    padding: 10px 5px 10px 8px;
}

.teclado__numeral {
    display: grid;
    padding: 10px;
    border-radius: 10px;
    background-color: aqua;
    width: clamp(70%, 200px, 30%);
    height: clamp(100%, 90mm, 30%);
}

.tecla__number {
    font-size: large;
    background-color: rgb(119, 113, 114);
    color: rgb(51, 0, 99);
    width: 35px;
    height: 35px;
}