@font-face{
    font-family: Merriweather;
    src: url(Fuentes/Merriweather/Merriweather-Black.ttf) format("truetype");
    font-weight: 900;
}

@font-face{
    font-family: Merriweather;
    src: url(Fuentes/Merriweather/Merriweather-Bold.ttf) format("truetype");
    font-weight: 700;
}

@font-face{
    font-family: Merriweather;
    src: url(Fuentes/Merriweather/Merriweather-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face{
    font-family: Merriweather;
    src: url(Fuentes/Merriweather/Merriweather-Italic.ttf) format("truetype");
    font-weight: 300;
}

@font-face{
    font-family: Merriweather;
    src: url(Fuentes/Merriweather/Merriweather-Light.ttf) format("truetype");
    font-weight: 100;
}

/* ------------------------ */

@font-face {
    font-family: roboto;
    src: url(Fuentes/Roboto/Roboto-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: roboto;
    src: url(Fuentes/Roboto/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: roboto;
    src: url(Fuentes/Roboto/Roboto-Regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: roboto;
    src: url(Fuentes/Roboto/Roboto-Medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: roboto;
    src: url(Fuentes/Roboto/Roboto-Black.ttf);
    font-weight: 700;
}

@font-face {
    font-family: roboto;
    src: url(Fuentes/Roboto/Roboto-Bold.ttf);
    font-weight: 900;
}
